
*.tmp
*.ini

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*
GameData/Kerbalism/MiniAVC.xml
*.DS_Store
*.pdb
