
*.tmp
*.ini

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

# MacOSX
*.DS_Store

# Visual Studio
*.pdb

# MiniAVC
GameData/Kerbalism/MiniAVC.xml
GameData/Kerbalism/MiniAVC.dll
MiniAVC-LICENSE.txt
